* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 150vh;
  background: rgb(171, 172, 171);
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
  color: #000;
  margin: 75px auto;
  font-size: 30px;
  transition: 0.5s ease;
  max-width: fit-content;
}

.heading:hover {
  color: rgb(205, 167, 28);
}

.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 100%;
  width: fit-content;
  margin: 10% auto;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  background: #000;
  margin: 10px;
  transition: 0.2s ease;
}

.calculator form .first-row input {
  width: 125px;
}

.calculator form input:hover {
  background: rgb(205, 167, 28);
  color: #000;
  transform: scale(1.1);
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 36px;
  padding: 0 10px;
}
